<table id="info">
  17 colonne de large
  <caption>
    Information
  </caption>
  <tr>
    <td colspan="2">Distance</td>
    <td colspan="2">056nm</td>
    <td>TaV de Nav</td>
    <td colspan="2">12:39:00 AM</td>
    <td>Vi</td>
    <td>110 kts</td>
    <td>FB</td>
    <td>0,55</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>20</td>
    <td>L/h</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td>TsV de Nav</td>
    <td colspan="2">12:39:00 AM</td>
    <td>Vi</td>
    <td>110 kts</td>
    <td>117 kts</td>
    <td colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="1" rowspan="2">276°</td>
    <td colspan="1" rowspan="2">20kts</td>
    <td colspan="2">T</td>
    <td colspan="3">C</td>
    <td colspan="2">R</td>
    <td colspan="2">A</td>
    <td colspan="2">E</td>
    <td colspan="2">M</td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="9">&nbsp;</td>
    <td>Use.F</td>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">DE</td>
    <td colspan="2">TOP</td>
    <td colspan="3">CAP</td>
    <td colspan="2">RADIO</td>
    <td colspan="2">Altitude</td>
    <td colspan="1">FOB</td>
    <td>Tank</td>
    <td>Dist</td>
    <td>R.Dist</td>
    <td colspan="2">Temps</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td>Rm</td>
    <td colspan="2">Cm</td>
    <td colspan="4">&nbsp;</td>
    <td>50 L</td>
    <td colspan="3">&nbsp;</td>
    <td colspan="2">Heure</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">LFPL</td>
    <td colspan="9">Départ</td>
    <td>4,00</td>
    <td colspan="3">&nbsp;</td>
    <td>estim.</td>
    <td>réelle</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">10:31</td>
    <td rowspan="2">120°</td>
    <td colspan="2">124°</td>
    <td colspan="2">A/A - LOGNES</td>
    <td colspan="2t">1500 ft</td>
    <td>1,00</td>
    <td rowspan="2">D</td>
    <td id="text-diagonal2" rowspan="2">02 Nm</td>
    <td id="text-diagonal2" rowspan="2">54 Nm</td>
    <td>32</td>
    <td>33</td>
  </tr>
  <tr>
    <td id="text-diagonal" colspan="2" rowspan="3">Lignes THT</td>
    <td>004° G</td>
    <td><---</td>
    <td colspan="2">118.600</td>
    <td colspan="2">Zséc 1300ft</td>
    <td>5,00</td>
    <td>TsV 02'</td>
    <td>01 '</td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
    <td>45 L</td>
    <td colspan="4">&nbsp;</td>
    <td>Avance</td>
    <td>00:10</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">10:33</td>
    <td rowspan="2">163°</td>
    <td colspan="2">173°</td>
    <td colspan="2">Melun Twr</td>
    <td colspan="2t">1500 ft</td>
    <td>2,00</td>
    <td rowspan="2">D</td>
    <td id="text-diagonal2" rowspan="2">08 Nm</td>
    <td id="text-diagonal2" rowspan="2">46 Nm</td>
    <td>38</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td id="text-diagonal" colspan="2" rowspan="3">N/LFPM</td>
    <td>010° G</td>
    <td><---</td>
    <td colspan="2">121.100</td>
    <td colspan="2">Zséc 1500ft</td>
    <td>7,00</td>
    <td>TsV 05'</td>
    <td>05'</td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
    <td>43 L</td>
    <td colspan="4">&nbsp;</td>
    <td>Avance</td>
    <td>00:20</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">&nbsp;</td>
    <td rowspan="2">200°</td>
    <td colspan="2">211°</td>
    <td colspan="2">Melun Twr</td>
    <td colspan="2t">1500 ft</td>
    <td>2,00</td>
    <td rowspan="2">&nbsp;</td>
    <td id="text-diagonal2" rowspan="2">06 Nm</td>
    <td id="text-diagonal2" rowspan="2">40 Nm</td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td id="text-diagonal" colspan="2" rowspan="3">LFPM</td>
    <td>011° G</td>
    <td><---</td>
    <td colspan="2">121.100</td>
    <td colspan="2">Zséc 1500ft</td>
    <td>9,00</td>
    <td>TsV 04'</td>
    <td>04'</td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
    <td>41 L</td>
    <td colspan="4">&nbsp;</td>
    <td>Retard</td>
    <td>00:12</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">&nbsp;</td>
    <td rowspan="2">255°</td>
    <td colspan="2">259°</td>
    <td colspan="2">Melun Twr</td>
    <td colspan="2t">1500 ft</td>
    <td>2,00</td>
    <td rowspan="2">&nbsp;</td>
    <td id="text-diagonal2" rowspan="2">09 Nm</td>
    <td id="text-diagonal2" rowspan="2">31 Nm</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td id="text-diagonal" colspan="2" rowspan="3">B/LFPM</td>
    <td>004° G</td>
    <td><---</td>
    <td colspan="2">121.100</td>
    <td colspan="2">Zséc 1500ft</td>
    <td>9,00</td>
    <td>TsV 05'</td>
    <td>06'</td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
    <td>39 L</td>
    <td colspan="4">&nbsp;</td>
    <td>Retard</td>
    <td>01:00</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">&nbsp;</td>
    <td rowspan="2">231°</td>
    <td colspan="2">239°</td>
    <td colspan="2">Paris info</td>
    <td colspan="2t">1500 ft</td>
    <td>3,00</td>
    <td rowspan="2">&nbsp;</td>
    <td id="text-diagonal2" rowspan="2">08 Nm</td>
    <td id="text-diagonal2" rowspan="2">23 Nm</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td id="text-diagonal" colspan="2" rowspan="3">LFFQ</td>
    <td>008° G</td>
    <td><---</td>
    <td colspan="2">126.100</td>
    <td colspan="2">Zséc 1500ft</td>
    <td>14,00</td>
    <td>TsV 05'</td>
    <td>07'</td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
    <td>36 L</td>
    <td colspan="4">&nbsp;</td>
    <td>Retard</td>
    <td>00:48</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">&nbsp;</td>
    <td rowspan="2">307°</td>
    <td colspan="2">301°</td>
    <td colspan="2">A/A- LA FERTE	</td>
    <td colspan="2t">1500 ft</td>
    <td>3,00</td>
    <td rowspan="2">&nbsp;</td>
    <td id="text-diagonal2" rowspan="2">11 Nm</td>
    <td id="text-diagonal2" rowspan="2">12 Nm</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td id="text-diagonal" colspan="2" rowspan="3">A10</td>
    <td>006° G</td>
    <td><---</td>
    <td colspan="2">129.750</td>
    <td colspan="2">Zséc 1500ft</td>
    <td>17,00</td>
    <td>TsV 06'</td>
    <td>08'</td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
    <td>33 L</td>
    <td colspan="4">&nbsp;</td>
    <td>Retard</td>
    <td>01:12</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">&nbsp;</td>
    <td rowspan="2">358°</td>
    <td colspan="2">347°</td>
    <td colspan="2">Chevreuse info	</td>
    <td colspan="2t">1500 ft</td>
    <td>2,00</td>
    <td rowspan="2">&nbsp;</td>
    <td id="text-diagonal2" rowspan="2">09 Nm</td>
    <td id="text-diagonal2" rowspan="2">03 Nm</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td id="text-diagonal" colspan="2" rowspan="3">S/LFPN</td>
    <td>011° G</td>
    <td><---</td>
    <td colspan="2">119.300</td>
    <td colspan="2">Zséc 1500ft</td>
    <td>19,00</td>
    <td>TsV 05'</td>
    <td>06'</td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
    <td>31 L</td>
    <td colspan="4">&nbsp;</td>
    <td>Retard</td>
    <td>00:12</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">&nbsp;</td>
    <td rowspan="2">360°</td>
    <td colspan="2">011°</td>
    <td colspan="2">ATIS-PN	</td>
    <td colspan="2t">1300 ft</td>
    <td>1,00</td>
    <td rowspan="2">&nbsp;</td>
    <td id="text-diagonal2" rowspan="2">03 Nm</td>
    <td id="text-diagonal2" rowspan="2">00 Nm</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td id="text-diagonal" colspan="2" rowspan="3">LFPN</td>
    <td>011° D</td>
    <td><---</td>
    <td colspan="2">127.475</td>
    <td colspan="2">Zséc 1200ft</td>
    <td>24,00</td>
    <td>TsV 02'</td>
    <td>02'</td>
  </tr>
  <tr>

    <td colspan="8">Arrivé</td>
    <td>26 L</td>
    <td colspan="4">&nbsp;</td>
    <td>Retard</td>
    <td>00:02</td>
  </tr>
  <tr>
    <td colspan="3" rowspan="2">&nbsp;</td>
    <td colspan="2">000°</td>
    <td colspan="4">&nbsp;	</td>
    <td>0,00</td>
    <td rowspan="2" colspan="2">&nbsp;</td>
    <td id="text-diagonal2" rowspan="2">00 Nm</td>
    <td colspan="2">&nbsp;</td>
  </tr>

  <tr>
    <td id="text-diagonal" colspan="2" rowspan="2">&nbsp;</td>
    <td>000° D</td>
    <td>00°xm</td>
    <td colspan="4">&nbsp;</td>
    <td>0,00</td>
    <td>TsV 00'</td>
    <td>00'</td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
    <td>00 L</td>
    <td colspan="4">&nbsp;</td>
    <td>TaV 00'</td>
    <td>00'</td>
  </tr>
</table>
