<table id="mass">
  <caption>
    DEVIS CARBURANT Avec une conso de 20 L/h BLOCK FUEL
  </caption>
  <thead>
    <tr>
      <th scope="col">NAV</th>
      <th colspan="2">ITEMS</th>
      <th>TEMPS min</th>
      <th>Quantité (L)</th>
      <th>itineraire</th>
      <th>TOTAL</th>
      <th>POIDS Kg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">LFPN</td>
      <td colspan="2">Roulage / montée initial</td>
      <td>10</td>
      <td>4</td>
      <td>Départ</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Délestage En Route</td>
      <td>42</td>
      <td>15</td>
      <td>Trajet</td>
      <td>23</td>
      <td>17</td>
    </tr>
    <tr>
      <td>LFPL</td>
      <td colspan="2">Approche / Arrivée</td>
      <td>10</td>
      <td>4</td>
      <td>Arrivé</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td rowspan="2">LFPN</td>
      <td colspan="2">Roulage / montée initial</td>
      <td>10</td>
      <td>4</td>
      <td>Départ</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Délestage En Route</td>
      <td>42</td>
      <td>15</td>
      <td>Trajet</td>
      <td>21</td>
      <td>16</td>
    </tr>
    <tr>
      <td>LFPL</td>
      <td colspan="2">Approche / Arrivée</td>
      <td>10</td>
      <td>4</td>
      <td>Arrivé</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td rowspan="2">LF---</td>
      <td colspan="2">Roulage / montée initial</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Départ</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Délestage En Route</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Trajet</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>LF---</td>
      <td colspan="2">Approche / Arrivée</td>
      <td>10</td>
      <td>4</td>
      <td>Arrivé</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td rowspan="4" colspan="2">RESERVES</td>
      <td>Dégagement</td>
      <td>20</td>
      <td>7</td>
      <td rowspan="3">17</td>
      <td rowspan="3">73 L</td>
      <td rowspan="4">53Kg</td>
    </tr>
    <tr>
      <td>Finale</td>
      <td>30</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Supp. Perso</td>
      <td>00:00</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Impompable</td>
      <td>&nbsp;</td>
      <td colspan="2">12</td>
      <td>2:46</td>
    </tr>
    <tr>
      <td rowspan="4" colspan="2">&nbsp;</td>
      <td>MTOW kg</td>
      <td>MLW kg</td>
      <td colspan="2">Max Bagages kg</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>750 kg</td>
      <td>750 kg</td>
      <td colspan="2">40 kg</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>T/O</td>
      <td>LD</td>
      <td colspan="2">&nbsp;</td>
      <td>T/O</td>
      <td>LD</td>
    </tr>
    <tr>
      <td colspan="2">Masses</td>
      <td colspan="2">Bras de levier</td>
      <td colspan="2">Moment</td>
    </tr>
    <tr>
      <td id="txt-dir" rowspan="5">LFPL</td>
      <td>Avion vide</td>
      <td colspan="2">516</td>
      <td colspan="2">0.426 m</td>
      <td colspan="2">0220kg.m</td>
    </tr>
    <tr>
      <td>EP-MAJ-Pilot</td>
      <td colspan="2">86kg</td>
      <td colspan="2" rowspan="3">0.515 m</td>
      <td colspan="2" rowspan="3">0101 kg.m</td>
    </tr>
    <tr>
      <td>FI-RVL</td>
      <td colspan="2">110 kg</td>
    </tr>
    <tr>
      <td>Total</td>
      <td colspan="2">196 kg</td>
    </tr>
    <tr>
      <td>EP-MAJ-Pilot</td>
      <td colspan="2">516</td>
      <td colspan="2">0.426 m</td>
      <td colspan="2">0220kg.m</td>
    </tr>
    <tr>
      <td id="txt-dir" rowspan="5">LFPN</td>
      <td>Bagages</td>
      <td colspan="2">05.0 kg</td>
      <td colspan="2">1.300 m</td>
      <td colspan="2">0007 kg.m</td>
    </tr>
    <tr>
      <td>ZFW</td>
      <td colspan="6">717 kg</td>
    </tr>
    <tr>
      <td>FOB</td>
      <td>44.3 kg</td>
      <td>27.3 kg</td>
      <td colspan="2" rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>Ess .Impom</td>
      <td colspan="2">08.7 kg</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>770.0 kg</td>
      <td>753.0 kg</td>
      <td>T/O Over weight 20kg</td>
      <td>&nbsp;</td>
      <td>L/D Over weight 3kg</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td id="txt-dir" rowspan="5">LFPN</td>
      <td>Avion vide</td>
      <td colspan="2">516</td>
      <td colspan="2">0.426 m</td>
      <td colspan="2">0220kg.m</td>
    </tr>
    <tr>
      <td>EP-MAJ-Pilot</td>
      <td colspan="2">86kg</td>
      <td colspan="2" rowspan="3">0.515 m</td>
      <td colspan="2" rowspan="3">0220 kg.m</td>
    </tr>
    <tr>
      <td>FI-RVL</td>
      <td colspan="2">110 kg</td>
    </tr>
    <tr>
      <td>Total</td>
      <td colspan="2">196 kg</td>
    </tr>
    <tr>
      <td>EP-MAJ-Pilot</td>
      <td colspan="2">516</td>
      <td colspan="2">0.426 m</td>
      <td colspan="2">0220kg.m</td>
    </tr>
    <tr>
      <td id="txt-dir" rowspan="5">LFPL</td>
      <td>Bagages</td>
      <td colspan="2">05.0 kg</td>
      <td colspan="2">1.300 m</td>
      <td colspan="2">0007 kg.m</td>
    </tr>
    <tr>
      <td>ZFW</td>
      <td colspan="6">717 kg</td>
    </tr>
    <tr>
      <td>FOB</td>
      <td>27.3 kg</td>
      <td>11.3 kg</td>
      <td colspan="2" rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>Ess .Impom</td>
      <td colspan="2">08.7 kg</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>753.0 kg</td>
      <td>737.0 kg</td>
      <td>T/O Over weight 20kg</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td id="txt-dir" rowspan="5">LF--</td>
      <td>Avion vide</td>
      <td colspan="2">-</td>
      <td colspan="2">-</td>
      <td colspan="2">0220 kg.m</td>
    </tr>
    <tr>
      <td>EP-MAJ-Pilot</td>
      <td colspan="2">-</td>
      <td colspan="2" rowspan="3">-</td>
      <td colspan="2" rowspan="3">0101 kg.m</td>
    </tr>
    <tr>
      <td>FI-RVL</td>
      <td colspan="2">-</td>
    </tr>
    <tr>
      <td>Total</td>
      <td colspan="2">-</td>
    </tr>
    <tr>
      <td>Bagages</td>
      <td colspan="2">-</td>
      <td colspan="2">-</td>
      <td colspan="2">0007 kg.m</td>
    </tr>
    <tr>
      <td id="txt-dir" rowspan="5">LF--</td>
    </tr>
    <tr>
      <td>ZFW</td>
      <td colspan="6">-</td>
    </tr>
    <tr>
      <td>FOB</td>
      <td>-</td>
      <td>-</td>
      <td colspan="2" rowspan="2">-</td>
      <td colspan="1" rowspan="2">&nbsp;</td>
      <td colspan="1" rowspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>Ess .Impom</td>
      <td colspan="2">-</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>-</td>
      <td>-</td>
      <td>#VALUES</td>
      <td>-</td>
      <td>#VALUES</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
