/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    margin: auto;
    }
    app-plandevol,app-mass,app-leg1,app-leg2{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 970px;
      margin: auto;

    }
    #container-table{
      margin: auto;
      width: 80%;
    }
    table{
      width: 100%;
      border: solid 1px blue;
      text-align: center;
      td{
       border: solid 1px blue;
      }
    }
// #text-diagonal,#text-diagonal2{
//   transform: rotate(-30deg);
//   border: none;
// }
#flex{
  display: flex;
}
.container-table-flex{
  display: flex;
}
#container-table-1,#container-table-2{
  width: 50%;
}
