<table>
  <thead>
      <tr>
          <th colspan="2">The table header</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td class="gris">Date</td>
          <td class="automatique">27-fevrier</td>
          <td class="automatique">27-fevrier</td>
          <td>Avion</td>
          <td class="manuelle">AT01</td>
          <td >Objet</td>
          <td class="manuelle">LFPN</td>
          <td class="manuelle">LFON</td>
          <td class="automatique">033 nM</td>
          <td class="automatique">0:26:00	</td>
          <td class="automatique"> </td>
          <td>ETD</td>
          <td>TSV</td>
          <td>MAN</td>
          <td>ETA</td>
      </tr>
      <tr>
        <td class="gris">Occuppants</td>
        <td>Gauche</td><td>Droite</td>
        <td>Arrière</td>
        <td>Type</td>
        <td >Objet</td>
        <td class="automatique">LFON</td>
        <td class="automatique">LFPN</td>
        <td>036 Nm</td>
        <td>0:20:00	</td>
        <td class="automatique"> </td>
        <td>12:00</td>
        <td>0:46</td>
        <td>###</td>
        <td class="automatique">13:06</td>
      </tr>
      <tr>
        <td class="gris">Occuppants</td>
        <td class="manuelle">EP-MAJ</td>
        <td class="manuelle">FI-EBN</td>
        <td class="manuelle">-</td>
        <td class="manuelle">DC</td>
        <td >Objet</td>
        <td class="manuelle">LF--</td>
        <td class="manuelle">LF--</td>
        <td class="vide">vide</td>
        <td class="vide">vide</td>
        <td class="vide">vide</td>
        <td class="titre">Côut estimé</td>
        <td class="titre">Côut estimé</td>
        <td class="titre">Côut estimé</td>
        <td class="automatique">184.68 €</td>

      </tr>
      <tr>
        <td class="gris">Avion</td>
        <td class="manuelle">F-GXMV</td>
        <td class="">Prév. routing</td>
        <td class="">Prév. routing</td>
        <td class="manuelle">20/01- 1315</td>
        <td class="manuelle"> </td>

        <td class="">Créneau</td>
        <td class=""> </td>
        <td class="manuelle">11:30:00 AM</td>
        <td class="manuelle">01:30:00 PM</td>
        <td class="">Next routing</td>
        <td class=""> </td>
        <td class="">  </td>
        <td class="automatique">13:30</td>
        <td class="automatique">13:30</td>



      </tr>
  <tr>
    <td class="gris">Avion</td>
    <td class="">Potentielle</td>
    <td class="">Départ</td>
    <td class="manuelle">28:23:00</td>
    <td class="automatique">28:23:00</td>
    <td class="automatique"> </td>
    <td class="">Créneau</td>
    <td class="">  </td>
    <td class="automatique">2:00</td>
    <td class="automatique">  </td>
    <td class="">Arrivée</td>
    <td class="">  </td>
    <td class="">  </td>
    <td class="automatique">26:23</td>
    <td class="automatique"> </td>

  </tr>
  <tr>
    <td class="gris"> </td>
    <td class="gris"> </td>
    <td class="gris"> </td>
    <td class="gris">Notams</td>
    <td class="gris"> </td>
    <td class="gris"> </td>
    <td class="gris"> </td>
    <td class="gris"> </td>
    <td class="gris"> </td>
    <td class="gris"> </td>
    <td class="gris"> </td>
    <td class="gris">menaces</td>
    <td class="gris"> </td>
    <td class="gris"> </td>
    <td class="gris"> </td>
  </tr>
  <tr>
    <td>Régulation cause vigie pirate</td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td class="automatique">LFPN</td>
    <td>Givrage modéré - 100 ft et 2000ft</td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>
  <tr>
    <td >NIL</td>
    <td class="automatique">LFON</td>
    <td>Visibilité risque de tombé localement</td>
  </tr>
  <tr>
    <td>Corrections aux  Menaces et NOTAMS</td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">- Laisser des phares d'attérisage et bien s'annoncer  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>
    <td class="manuelle">  </td>

  </tr>
    <tr>
      <td>Corrections aux  Menaces et NOTAMS</td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">Bien mettre la réchauffe carbu - Remetre les gaz si mauvaise app ou dérouter sur PN  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>
      <td class="manuelle">  </td>

  </tr>
  <tr>
    <td class="gris"> </td>
    <td class="gris">  DONNEES METEO</td>
      <td class="gris">  </td>
      <td class="gris">  </td>
      <td class="gris">  </td>

      <td class="automatique">  </td>
      <td class="automatique">  </td>
      <td class="automatique">02/27/2020</td>
    <td class="automatique">  </td>
    <td class="automatique">  </td>
    <td class="gris">  </td>
    <td class="gris">  </td>
    <td class="gris">12 UTC</td>
     <td class="gris">  </td>
     <td class="gris">  </td>
  </tr>
 <tr>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris">TEMSI</td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
   <td class="gris"></td>
 </tr>
 <tr>
  <td class="gris">Nuages</td>
  <td class="gris"></td>
  <td class="gris"></td>
  <td class="gris">Nébulosité</td>
  <td class="gris"></td>
  <td class="gris"></td>
  <td class="gris"></td>
  <td class="gris">Bases</td>
  <td class="gris"></td>
  <td class="gris">Phénomène</td>
  <td class="gris"></td>
  <td class="">VISIBILITY</td>
  <td class=""></td>
  <td class=""></td>
  <td class=""></td>
</tr>
<tr>
  <td class=" manuelle">ST</td>
  <td class=" manuelle"></td>
  <td class=" manuelles manuelle"></td>
  <td class=" manuelle">LOC BKN / SCT</td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle">1000 2000</td>
  <td class=" manuelle"></td>
  <td class=" manuelle">Brume</td>
  <td class="">CONDITION VMC CELLING</td>
  <td class=" manuelle">Plafond de vol a 3000
    Visibilité > 8 KM</td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
</tr>
<tr>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle">100 800</td>
  <td class=" manuelle"></td>
  <td class=" manuelle">Brouillard</td>
  <td class="">CONDITION VMC CELLING</td>
  <td class=" manuelle">Plafond de vol a 3000 Visibilité > 8 KM</td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
</tr>
<tr>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle">Givrage modéré</td>
  <td class="">CONDITION VMC CELLING</td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
  <td class=" manuelle"></td>
</tr>
<tr>
  <td class="gris">WIND</td>
  <td class="gris"></td>
  <td class="gris"></td>
  <td class="gris">Vent moyen retenu</td>
  <td class="gris"></td>
  <td class="gris"></td>
  <td class="automatique">240°</td>
  <td class="automatique">25kts</td>
  <td class="automatique">03/20/2020</td>
  <td class="gris">TEMP</td>
  <td class="gris"></td>
  <td class="gris"></td>
  <td class="manuelle"></td>
  <td class="gris">Température moyenne retenue</td>
  <td class=" automatique">01°</td>
</tr>

  </tbody>
</table>
