<div id="container-table">
  <div class="container-table-flex">
    <div id="container-table-1">
      <table id="breifing1-1">
      <tr>
        <td colspan="2">Date </td>
        <td colspan="3">20 Avril </td>
        <td colspan="3">Destination</td>
        <td colspan="3">Lognes Eméranville</td>
      </tr>
      <tr>
        <td>Avion</td>
        <td>GXCF</td>
        <td colspan="2">Gauche</td>
        <td colspan="2">Droite</td>
        <td colspan="2">Arrière</td>
        <td colspan="2">Type</td>
      </tr>
      <tr>
        <td colspan="2">PA28-</td>
        <td colspan="2">MAJ</td>
        <td colspan="2">-</td>
        <td colspan="2">-</td>
        <td colspan="2">Solo</td>
      </tr>
      <tr>
        <td colspan="2">Poids	</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">Previous Routing</td>
        <td>Rout.</td>
        <td colspan="2">225,00 €	</td>
        <td>Départ</td>
        <td colspan="2">Navigation	</td>
        <td>Arrivé</td>
      </tr>
      <tr>
        <td colspan="2">03/02- 1130	</td>
        <td>1:30</td>
        <td>Départ</td>
        <td>Crénea</td>
        <td>Arrivée</td>
        <td>ETD</td>
        <td>TSV</td>
        <td>MAN</td>
        <td>ETA</td>
      </tr>
      <tr>
        <td colspan="2">Potentielle		</td>
        <td>29:00</td>
        <td>11:30</td>
        <td>1:30</td>
        <td>13:00</td>
        <td>11:45</td>
        <td>1:08</td>
        <td>0:00</td>
        <td>12:53</td>
      </tr>
      </table>
        </div>
        <div id="container-table-2">
      <table>
        <tr>
          <td colspan="4">Documents de Navigations			</td>
          <td colspan="4">Certificat de Navigabilité</td>
          <td colspan="2">Autonomie	</td>
          <td>2:59</td>
        </tr>
        <tr>
          <td>CNI</td>
          <td>FFA</td>
          <td colspan="2">Licence	</td>
          <td>CDN</td>
          <td colspan="3">Carnet de Vol</td>
          <td colspan="2">Réserves Supp	</td>
          <td>0:00</td>
        </tr>
        <tr>
          <td colspan="3">Certificat médical</td>
          <td colspan="5">Certificat d'Immatriculation</td>
          <td colspan="2">Réserves Dég.	</td>
          <td>0:16</td>
        </tr>
        <tr>
          <td colspan="6">Navigation</td>
          <td colspan="2">&nbsp;</td>
          <td colspan="2">Réserves Finale	</td>
          <td>0:30</td>
        </tr>
        <tr>
          <td>LFPN</td>
          <td>LFPL</td>
          <td colspan="2">061 Nm	</td>
          <td colspan="2">0:38:00	</td>
          <td colspan="3">Next  Routing</td>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td>LFPL</td>
          <td>LFPN</td>
          <td colspan="2">053 Nm</td>
          <td colspan="2">0:38:00	</td>
          <td colspan="3">03/02- 1130	</td>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td>LF--</td>
          <td>LF--</td>
          <td colspan="2">000 Nm</td>
          <td colspan="2">0:38:00	</td>
          <td colspan="2">Potentielle</td>
          <td>26:00</td>
          <td colspan="2">&nbsp;</td>
        </tr>
      </table>
        </div>
  </div>

  <div id="container-table">
<table>
  <tr>
    <td colspan="14">MENACES / NOTAMS / CARTE AZBA SUPP AIP</td>
    <td colspan="7">Corrections MENANCES/NOTAMS/AZBA AIP</td>
  </tr>
  <tr>
    <td>LFPN</td>
    <td colspan="13">&nbsp;</td>
    <td colspan="7">&nbsp;</td>
  </tr>
  <tr>
    <td>LFPL</td>
    <td colspan="13">&nbsp;</td>
    <td colspan="7">&nbsp;</td>
  </tr>
  <tr>
    <td>LF--</td>
    <td colspan="13">&nbsp;</td>
    <td colspan="7">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="13">&nbsp;</td>
    <td colspan="7">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">Déroutement	</td>
    <td>LFOX</td>
    <td colspan="2">Etampes</td>
    <td colspan="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td colspan="7">&nbsp;</td>
  </tr>
</table>
  </div>
  <div id="container-table-4">

  </div>
  <div id="container-table-5">

  </div>
  <div id="container-table-6">

  </div>
  <div id="container-table-7">

  </div>
  <div id="container-table-8">

  </div>
  <div id="container-table-9">

  </div>
  <div id="container-table-10">

  </div>
</div>
